p{
    font-family: Arial, Helvetica, sans-serif;
   text-align: left;
   font-size: medium;
   line-height: 2;
   letter-spacing: 1;
}
.h1{
   color: cornflowerblue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h2{
    text-align: center;
    font-family: cursive;
}
h4{
    color: black;
    line-height: 2;
}
.s{
    background-color: blanchedalmond;
    color: rgb(255, 136, 0);
    text-align: center;
}
.i{
   color: mediumblue;
    text-align: center;
    font-family: sans-serif;
}
.f{
    color: mediumslateblue;
    font-family: sans-serif;
    text-align: center;
}
th{
    background-color: darkgray;
    border: 2px solid black;
    border-collapse:collapse ;
}
td{
    border: 2px solid black;
    border-collapse: collapse;
}
table{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
.Compro{
    background-color: goldenrod;
}
.intro{
    background-color: chartreuse;
}
.Happlive{
   background-color: indianred;
}
.Datacom{
    background-color: fuchsia;
}
.mat{
    background-color: aqua;
}
.ENG{
    background-color: chartreuse;
}
.Monday,.Friday{
     background-color: goldenrod;
}
.Thursday{
background-color: aqua;
}
.Wednesday{
background-color: aqua;
}
.Tuesday,.Wednesday{
    background-color: fuchsia;
}

.rounded{
    width: 20%;
    height: auto;
    border-radius: 15px;
}
.body{
    background-color: bisque;
}
.button-row{
    display: flex;
    margin-top: 20px;
    width: 20%;
    gap: 10px;
    justify-content: left;
}